.contact-form {
    flex-direction: column;
  }

  .msg textarea {
    height: 80px;
  }

  .input-fields,
  .msg {
    width: 100%;
  }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b1c5c7;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #b1c5c7;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #b1c5c7;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8em;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 300;
  color: gray;
  background-color: white;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 6%, rgba(234, 242, 243, 1) 64%);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.navbar {
  display: grid;
  justify-content: center;
  background-color: rgba(255, 255, 255);
  text-align: center;
  top: 0%;
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, .005);
  border-bottom: 7px solid #e8c947;
  z-index: 1;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0rem;
  border-bottom: 7px solid #e8c947;
}

.bio1 {
  flex: 1;
  order: 1;
}

.bio1>img {
  max-height: 120%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.bio2 {
  flex: 1.75;
  order: 2;
  font-size: 2rem;
  line-height: 3rem;
  margin-right: 10%;
}

.bio2>h1 {
  font-size: 5rem;
  color: #4d8e92;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 300;
  line-height: normal;
  position: relative;
  letter-spacing: .15rem;
  margin-left: -.3rem;
}

span {
  opacity: 0;
  transition: all 1s ease;
}

span.fade {
  opacity: 1;
}

.about {
  margin-right: 20%;
}

.skillscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  ;
  border-bottom: 7px solid #e8c947;

}

.skills1,
.skills2,
.skills3 {
  padding: 1rem;
  border-radius: 8px;
  margin: auto;
  /* border: solid rgba(34, 34, 34, 0.1) 3px; */
  max-width: 300px;
  margin-top: -60px;
  text-align: center;
}

.skillscontainer h2 {
  font-size: 18px;
  color: #4d8e92;
}

.skillscontainer h3 {
  font-size: 14px;
  color: #4d8e92;
}

.aboutcontainer {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-columns: 2;
  align-items: center;
  align-content: center;
  margin: 5rem;
}

.aboutcontainer img {
  max-width: 100%;
  min-width: 40%;
}

.aboutwrapper h1 {
  color: #4d8e92;
}

.portfolio h1 {
  color: #4d8e92;
  font-size: 32px;
  padding-top: 2rem;
  text-align: center;
}

.portfolio {
  padding-top: 2rem;
}

.projects {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  align-content: center;
}

.projects .indev {
  color: #f57380;
  font-weight: 800;
}

.bio>* {
  color: white;
}

.bio>h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.bio>article>p {
  font-size: 1.5rem;
  font-weight: 200;
}

.bio>article>a {
  padding: 1rem;
  margin-top: .2rem;
}

.projects {
  padding: 2rem;
}

.projects>ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.projects>ul>li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
  list-style-type: none;
}

.projects>ul>li>figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
  list-style-type: none;
}

.projects>ul>li>figure>img {
  width: 100%;
}

.projects>ul>li>figure>figcaption {
  position: absolute;
  bottom: 0;
  background-color: #4d8e92;
  width: 100%;
  z-index: 0;
}

.projects>ul>li>figure>figcaption>h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
}

.projects>ul>li>p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}

.projects>ul>li>a {
  padding: .5rem 1rem;
  margin: .5rem;
}

button {
  background: #e8c947;
  border: none;
  padding: 2%;
  border-radius: 5px;
  text-transform: uppercase;
  margin: .8rem;
}

a {
  text-decoration: none;
  font-family: "Montserrat", Helvetica, sans-serif;
}

.calltoaction {
  justify-content: space-around;
}

#bio a,
a:hover,
a:visited {
  color: white;
  text-decoration: none;
}

#navbar a:link,
a:visited {
  background-color: #e8c947;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 2rem;
  margin: 2rem;
}

.hireme {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1rem;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.nicetomeetyou {
  display: grid;
  padding: 2rem;
  width: 80%;
}

.aboutwrapper h1 {
  font-size: 32px;
}

.aboutwrapper p {
  font-size: 20px;
  line-height: 2rem;
}

.nicetomeetyou>.box1 {
  grid-column: 1;
  grid-row: 1;
}

.nicetomeetyou .box1 img {
  max-height: 60%;
  min-width: 60%;
  object-fit: cover;
}

.nicetomeetyou>.box2 {
  grid-column: 2;
  grid-row: 1;
}

.contact-wrapper {
  display: grid;
  padding: 2rem;
  width: 80%;
  justify-content: center;
  align-items: left;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin: calc(50vh - 220px) auto;
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, .25);
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.contact-wrapper .title {
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: #4d8e92;
}

.contact-form {
  display: flex;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  font-family: 'Montserat', Helvetica, sans-serif;
}

.input-fields,
.msg {
  width: 48%;
}

.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #b1c5c7;
  padding: 10px;
  width: 100%;
  font-family: 'Montserat', Helvetica, sans-serif;
}

.msg textarea {
  height: 212px;
}

.btn {
  background: #b1c5c7;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #b1c5c7;
  padding: .75rem;
  color: white;
  font-size: 1rem;
  height: 3rem;
  width: 100%;
}
