
.navbar
  {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.2);
    text-align: center;
    position: fixed;
    top: 0%;
    width: 100%;
    box-shadow:0 0 30px rgba(0, 0, 0, .25);
  }

  .navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }

.navbar a:hover {
  color: white;
}

button{
    background: white;
    border: none;
    padding: 2%;
    border-radius: 5px;
    text-transform: uppercase;
    }

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
}

img {
  width: 100%;
  height: auto;
  margin: 0% 5% 5% 15%;
}

body,html {
  height: 100%;
  margin-left: 0px;
  }

.parallax0 {
  background-image: url('images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex: 1;
  flex-direction:column;
  justify-content: center;
  position: static;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: 16px;
  size: 250px;
  padding: 1em;
  margin: 15% 20% 10% 40%;
  background: rgba(138, 138, 138, 0.1);
  border-radius:5px;
}

.parallax1 {
    background-image: url('images/background.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about, .portfolio, .contact
    {
    background-color: fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 16px;
    size: 500px;
    padding: 2em;
    }

.aboutwrapper {
  margin-right: 20%;
}

.wrapper{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-columns: 2;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


body {
  background-color: #eef6f7;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
}

h1{
    color: white;
    font-size: 3em;
    font-family: Helvetica, avenir, arial, sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    }

h2 {
    color: #53a0ac;
    size: 16px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

p {
    color: #6a7071;
    size: 15px;
}

#bio p{
  font-size: 18px;
  color:#6a7071;
}

#bio a, a:hover, a:visited{
  color: #fb7482;
  text-decoration: none;
}

#navbar a:link, a:visited {
  background-color: #a5a5a5;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}


span {
    opacity: 0;
    transition: all 1s ease;
}

span.fade{
    opacity: 1;
}