$primarycolor: #2a5d68;
$secondarycolor: #ebce9d;
$tertiarycolor: #c4d6d8;
$font: 'Montserrat',
'Helvetica',
sans-serif;
$grey: #8c8c8c;

body {
  margin: 0;
  font-family: $font;
  overflow-x: hidden;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 6%, rgba(234, 242, 243, 1) 64%);

}

.container1 {
  .logo {
    width: 175%;
    height: 175%;
    object-fit: cover;
  }

  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    a {
      text-decoration: none;
      color: $primarycolor;
      font-size: 15px;
      transition: color 0.3s ease;

      &:hover {
        color: $secondarycolor;
      }
    }

    li {
      padding: 10px 0;
      font-size: 22px;
    }
  }

  #menu_content {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

    input {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;

      cursor: pointer;

      opacity: 0;
      z-index: 2;

      -webkit-touch-callout: none;
    }

    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;

      background: $grey;
      border-radius: 3px;

      z-index: 1;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }

    span:first-child {
      transform-origin: 0% 0%;
    }

    span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }

    input:checked~span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: $primarycolor;
    }

    input:checked~span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    input:checked~span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }

    input:checked~ul {
      transform: scale(1.0, 1.0);
      opacity: 1;
    }
  }
}

.container2 {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: -2rem;
  display: grid;
  grid-gap: .2rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 600px));
  align-items: top;
  justify-content: left;
  margin-bottom: 2rem;

  .bio1 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
  }

  img {
    width: 80%;
  }

  .bio2 {
    span {
      opacity: 0;
      transition: all 1s ease;
    }

    span.fade {
      opacity: 1;
    }

    h1 {
      font-size: 5rem;
      color: #4d8e92;
      font-weight: 300;
      line-height: normal;
      position: relative;
      letter-spacing: .15rem;
    }

    p {
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.8em;
      color: $grey;
    }
  }

  button {
    background: $secondarycolor;
    border: none;
    padding: 2%;
    border-radius: 5px;
    text-transform: uppercase;
    margin: .8rem;
  }

  a,
  a:hover,
  a:visited {
    color: $grey;
    text-decoration: none;
  }
}

p {
  font-family: $font;
  color: $grey;
  font-weight: 100;
}





.aboutbackground {
  width: 100%;
  height: 200px;
  background-color: $tertiarycolor;
}


.aboutcontainer {
  display: grid;
  grid-template-columns: (30% 65%);
  grid-gap: 3rem;
  align-items: center;
  align-content: center;
  margin: 5rem;

  img {
    border-radius: 50%;
    max-width: 100%;
    min-width: 40%;
  }
}



.skillscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  padding-bottom: 3rem;
  p{
    font-size: 16px;
  }
  h2 {
    font-size: 20px;
    color: #4d8e92;
  }

  h3 {
    font-size: 18px;
    color: #4d8e92;
  }

}

.skills1,
.skills2,
.skills3 {
  padding: 1rem;
  border-radius: 8px;
  margin: auto;
  /* border: solid rgba(34, 34, 34, 0.1) 3px; */
  max-width: 300px;
  text-align: center;
}



.aboutwrapper h1 {
  color: #4d8e92;
}

.portfolio h1 {
  color: #4d8e92;
  font-size: 32px;
  padding-top: 2rem;
  text-align: center;
}

.portfolio {
  padding-top: 2rem;
}

.projects {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  align-content: center;
}

.projects .indev {
  color: #f57380;
  font-weight: 800;
}

.bio>* {
  color: white;
}

.bio>h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.bio>article>p {
  font-size: 1.5rem;
  font-weight: 200;
}

.bio>article>a {
  padding: 1rem;
  margin-top: .2rem;
}

.projects {
  padding: 2rem;
}

.projects>ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.projects>ul>li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
  list-style-type: none;
}

.projects>ul>li>figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
  list-style-type: none;
}

.projects>ul>li>figure>img {
  width: 100%;
}

.projects>ul>li>figure>figcaption {
  position: absolute;
  bottom: 0;
  background-color: #4d8e92;
  width: 100%;
  z-index: 0;
}

.projects>ul>li>figure>figcaption>h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
}

.projects>ul>li>p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}

.projects>ul>li>a {
  padding: .5rem 1rem;
  margin: .5rem;
}

button {
  background: #e8c947;
  border: none;
  padding: 2%;
  border-radius: 5px;
  text-transform: uppercase;
  margin: .8rem;
}

a {
  text-decoration: none;
  font-family: "Montserrat", Helvetica, sans-serif;
}

.calltoaction {
  justify-content: space-around;
}

#bio a,
a:hover,
a:visited {
  color: white;
  text-decoration: none;
}

#navbar a:link,
a:visited {
  background-color: #e8c947;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin: .5rem;
}

.hireme {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1rem;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.nicetomeetyou {
  display: grid;
  padding: 2rem;
  width: 80%;
  background-color: $grey;
}

.aboutwrapper h1 {
  font-size: 32px;
}

.aboutwrapper p {
  font-size: 20px;
  line-height: 2rem;
}

.nicetomeetyou>.box1 {
  grid-column: 1;
  grid-row: 1;
}

.nicetomeetyou .box1 img {
  max-height: 60%;
  min-width: 60%;
  object-fit: cover;
}

.nicetomeetyou>.box2 {
  grid-column: 2;
  grid-row: 1;
}

.contact-wrapper {
  display: grid;
  padding: 2rem;
  width: 80%;
  justify-content: center;
  align-items: left;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin: calc(50vh - 220px) auto;
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, .25);
  font-family: 'Montserrat', Helvetica, sans-serif;
}

.contact-wrapper .title {
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: #4d8e92;
}

.contact-form {
  display: flex;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  font-family: 'Montserat', Helvetica, sans-serif;
}

.input-fields,
.msg {
  width: 48%;
}

.input-fields .input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #b1c5c7;
  padding: 10px;
  width: 100%;
  font-family: 'Montserat', Helvetica, sans-serif;
}

.msg textarea {
  height: 212px;
}

.btn {
  background: #b1c5c7;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

.footer-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-column: auto;
}

footer {
  background-color: #b1c5c7;
  padding: .75rem;
  font-size: 1rem;
  height: 8rem;
  width: 100%;

  p {
    color: white;
  }
}